---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello there! 💦</h1>
			<p>
				My name is Nathan and I have been watercooling for well over 5 years at this point. I have a deep
				love for this hobby, and wanted to make this guide to make it more accessible for anyone that 
				maybe curious, but worried about ordering the wrong parts or damaging their components.
			</p>
			<p>
				<a href="/guide">Here</a> you will find a complete beginners guide, including an evolving glossary of terms that people
				use when watercooling
			</p>
			<p>In-depth pages on each component</p>
			<ul>
				<li><a href="/blog/cpu-block">CPU Block</a></li>
				<li><a href="/gpu-block">GPU Block</a></li>
				<li><a href="/pump-res">Pump & Reservoir</a></li>
				<li><a href="/radiator-fans">Radiator & Fans</a></li>
				<li><a href="/fitting">Fittings</a></li>
				<li><a href="/coolant">Coolant</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	li a {
		color: inherit;
	}

	a {
		color: inherit;
	}
</style>
